# -----------------------------------------------------------------------------
# Kanagawa Paper Canvas
# Upstream: https://github.com/thesimonho/kanagawa-paper.nvim/master/extras/fzf/kanagawa-paper-canvas.rc
# URL: https://github.com/junegunn/fzf/tree/master#environment-variables
# Note: You can either export the following as an environment variable (export FZF_DEFAULT_OPTS='...') or
#       add the following to an opts file and point FZF_DEFAULT_OPTS_FILE to it.
#       See the URL above for more information.
# -----------------------------------------------------------------------------

--color=bg:-1,bg+:#d8d8d2,fg:-1,fg+:#84908e,hl:#c1b4c1,hl+:#c58c89
--color=header:#c39e87,info:#91acb8,pointer:#5b7a89
--color=marker:#5b7a89,prompt:#c58c89,spinner:#929fb9
