/* ----------------------------------------------------------------------------- */
/* Kanagawa Paper Palette */
/* Upstream: https://github.com/thesimonho/kanagawa-paper.nvim/master/extras/tailwind/kanagawa-paper-palette.css */
/* URL: https://tailwindcss.com/ */
/* ----------------------------------------------------------------------------- */

@theme inline {
  --color-kanagawa-paper-autumn-green: oklch(from #76946A l c h);
  --color-kanagawa-paper-autumn-red: oklch(from #C34043 l c h);
  --color-kanagawa-paper-autumn-yellow: oklch(from #DCA561 l c h);
  --color-kanagawa-paper-boat-yellow1: oklch(from #938056 l c h);
  --color-kanagawa-paper-boat-yellow2: oklch(from #C0A36E l c h);
  --color-kanagawa-paper-canvas-aqua1: oklch(from #7b958e l c h);
  --color-kanagawa-paper-canvas-ash1: oklch(from #637263 l c h);
  --color-kanagawa-paper-canvas-blue1: oklch(from #809ba7 l c h);
  --color-kanagawa-paper-canvas-blue2: oklch(from #6b8998 l c h);
  --color-kanagawa-paper-canvas-blue3: oklch(from #577888 l c h);
  --color-kanagawa-paper-canvas-blue4: oklch(from #516e7d l c h);
  --color-kanagawa-paper-canvas-blue5: oklch(from #3a515e l c h);
  --color-kanagawa-paper-canvas-cyan1: oklch(from #4a905d l c h);
  --color-kanagawa-paper-canvas-gray1: oklch(from #aeaea6 l c h);
  --color-kanagawa-paper-canvas-gray2: oklch(from #8e8a80 l c h);
  --color-kanagawa-paper-canvas-gray3: oklch(from #73787d l c h);
  --color-kanagawa-paper-canvas-green1: oklch(from #7e9579 l c h);
  --color-kanagawa-paper-canvas-green2: oklch(from #7a8c6a l c h);
  --color-kanagawa-paper-canvas-green3: oklch(from #9ba98e l c h);
  --color-kanagawa-paper-canvas-orange1: oklch(from #b28d77 l c h);
  --color-kanagawa-paper-canvas-orange2: oklch(from #a8826a l c h);
  --color-kanagawa-paper-canvas-pink1: oklch(from #9e7e98 l c h);
  --color-kanagawa-paper-canvas-pink2: oklch(from #c1b4c1 l c h);
  --color-kanagawa-paper-canvas-pink3: oklch(from #d4cdd4 l c h);
  --color-kanagawa-paper-canvas-red1: oklch(from #c27672 l c h);
  --color-kanagawa-paper-canvas-teal1: oklch(from #7e8faf l c h);
  --color-kanagawa-paper-canvas-violet1: oklch(from #7880a5 l c h);
  --color-kanagawa-paper-canvas-violet2: oklch(from #9ba1bf l c h);
  --color-kanagawa-paper-canvas-white1: oklch(from #cbc8bc l c h);
  --color-kanagawa-paper-canvas-white2: oklch(from #d1cfc5 l c h);
  --color-kanagawa-paper-canvas-white3: oklch(from #d8d8d2 l c h);
  --color-kanagawa-paper-canvas-white4: oklch(from #e1e1de l c h);
  --color-kanagawa-paper-canvas-white5: oklch(from #e6e6e3 l c h);
  --color-kanagawa-paper-canvas-white6: oklch(from #ecece8 l c h);
  --color-kanagawa-paper-canvas-yellow1: oklch(from #a7956a l c h);
  --color-kanagawa-paper-canvas-yellow2: oklch(from #b4a88a l c h);
  --color-kanagawa-paper-carp-yellow: oklch(from #E6C384 l c h);
  --color-kanagawa-paper-crystal-blue: oklch(from #7E9CD8 l c h);
  --color-kanagawa-paper-dragon-aqua: oklch(from #8ea49e l c h);
  --color-kanagawa-paper-dragon-ash: oklch(from #737c73 l c h);
  --color-kanagawa-paper-dragon-black0: oklch(from #0d0c0c l c h);
  --color-kanagawa-paper-dragon-black1: oklch(from #12120f l c h);
  --color-kanagawa-paper-dragon-black2: oklch(from #1D1C19 l c h);
  --color-kanagawa-paper-dragon-black3: oklch(from #181616 l c h);
  --color-kanagawa-paper-dragon-black4: oklch(from #282727 l c h);
  --color-kanagawa-paper-dragon-black5: oklch(from #393836 l c h);
  --color-kanagawa-paper-dragon-black6: oklch(from #625e5a l c h);
  --color-kanagawa-paper-dragon-blue: oklch(from #658594 l c h);
  --color-kanagawa-paper-dragon-blue2: oklch(from #859fac l c h);
  --color-kanagawa-paper-dragon-blue3: oklch(from #708e9e l c h);
  --color-kanagawa-paper-dragon-blue4: oklch(from #5d7a88 l c h);
  --color-kanagawa-paper-dragon-blue5: oklch(from #435965 l c h);
  --color-kanagawa-paper-dragon-gray: oklch(from #a6a69c l c h);
  --color-kanagawa-paper-dragon-gray2: oklch(from #9e9b93 l c h);
  --color-kanagawa-paper-dragon-gray3: oklch(from #7a8382 l c h);
  --color-kanagawa-paper-dragon-green: oklch(from #699469 l c h);
  --color-kanagawa-paper-dragon-green2: oklch(from #8a9a7b l c h);
  --color-kanagawa-paper-dragon-green3: oklch(from #717e67 l c h);
  --color-kanagawa-paper-dragon-orange: oklch(from #b6927b l c h);
  --color-kanagawa-paper-dragon-orange2: oklch(from #9d7665 l c h);
  --color-kanagawa-paper-dragon-pink: oklch(from #a292a3 l c h);
  --color-kanagawa-paper-dragon-red: oklch(from #c4746e l c h);
  --color-kanagawa-paper-dragon-teal: oklch(from #949fb5 l c h);
  --color-kanagawa-paper-dragon-violet: oklch(from #8992a7 l c h);
  --color-kanagawa-paper-dragon-white: oklch(from #c5c9c5 l c h);
  --color-kanagawa-paper-dragon-yellow: oklch(from #c4b28a l c h);
  --color-kanagawa-paper-fuji-gray: oklch(from #727169 l c h);
  --color-kanagawa-paper-fuji-white: oklch(from #DCD7BA l c h);
  --color-kanagawa-paper-katana-gray: oklch(from #717C7C l c h);
  --color-kanagawa-paper-light-blue: oklch(from #A3D4D5 l c h);
  --color-kanagawa-paper-lotus-aqua: oklch(from #597b75 l c h);
  --color-kanagawa-paper-lotus-aqua2: oklch(from #5e857a l c h);
  --color-kanagawa-paper-lotus-blue1: oklch(from #c7d7e0 l c h);
  --color-kanagawa-paper-lotus-blue2: oklch(from #b5cbd2 l c h);
  --color-kanagawa-paper-lotus-blue3: oklch(from #9fb5c9 l c h);
  --color-kanagawa-paper-lotus-blue4: oklch(from #4d699b l c h);
  --color-kanagawa-paper-lotus-blue5: oklch(from #5d57a3 l c h);
  --color-kanagawa-paper-lotus-cyan: oklch(from #d7e3d8 l c h);
  --color-kanagawa-paper-lotus-gray: oklch(from #dcd7ba l c h);
  --color-kanagawa-paper-lotus-gray2: oklch(from #716e61 l c h);
  --color-kanagawa-paper-lotus-gray3: oklch(from #8a8980 l c h);
  --color-kanagawa-paper-lotus-green: oklch(from #6f894e l c h);
  --color-kanagawa-paper-lotus-green2: oklch(from #6e915f l c h);
  --color-kanagawa-paper-lotus-green3: oklch(from #b7d0ae l c h);
  --color-kanagawa-paper-lotus-ink0: oklch(from #3d3d5e l c h);
  --color-kanagawa-paper-lotus-ink1: oklch(from #545464 l c h);
  --color-kanagawa-paper-lotus-ink2: oklch(from #43436c l c h);
  --color-kanagawa-paper-lotus-orange: oklch(from #cc6d00 l c h);
  --color-kanagawa-paper-lotus-orange2: oklch(from #e98a00 l c h);
  --color-kanagawa-paper-lotus-pink: oklch(from #b35b79 l c h);
  --color-kanagawa-paper-lotus-red: oklch(from #c84053 l c h);
  --color-kanagawa-paper-lotus-red2: oklch(from #d7474b l c h);
  --color-kanagawa-paper-lotus-red3: oklch(from #e82424 l c h);
  --color-kanagawa-paper-lotus-red4: oklch(from #d9a594 l c h);
  --color-kanagawa-paper-lotus-teal1: oklch(from #4e8ca2 l c h);
  --color-kanagawa-paper-lotus-teal2: oklch(from #6693bf l c h);
  --color-kanagawa-paper-lotus-teal3: oklch(from #5a7785 l c h);
  --color-kanagawa-paper-lotus-violet1: oklch(from #a09cac l c h);
  --color-kanagawa-paper-lotus-violet2: oklch(from #766b90 l c h);
  --color-kanagawa-paper-lotus-violet3: oklch(from #c9cbd1 l c h);
  --color-kanagawa-paper-lotus-violet4: oklch(from #624c83 l c h);
  --color-kanagawa-paper-lotus-white0: oklch(from #d5cea3 l c h);
  --color-kanagawa-paper-lotus-white1: oklch(from #dcd5ac l c h);
  --color-kanagawa-paper-lotus-white2: oklch(from #e5ddb0 l c h);
  --color-kanagawa-paper-lotus-white3: oklch(from #f2ecbc l c h);
  --color-kanagawa-paper-lotus-white4: oklch(from #e7dba0 l c h);
  --color-kanagawa-paper-lotus-white5: oklch(from #e4d794 l c h);
  --color-kanagawa-paper-lotus-yellow: oklch(from #77713f l c h);
  --color-kanagawa-paper-lotus-yellow2: oklch(from #836f4a l c h);
  --color-kanagawa-paper-lotus-yellow3: oklch(from #de9800 l c h);
  --color-kanagawa-paper-lotus-yellow4: oklch(from #f9d791 l c h);
  --color-kanagawa-paper-old-white: oklch(from #C8C093 l c h);
  --color-kanagawa-paper-oni-violet: oklch(from #957FB8 l c h);
  --color-kanagawa-paper-oni-violet2: oklch(from #b8b4d0 l c h);
  --color-kanagawa-paper-peach-red: oklch(from #FF5D62 l c h);
  --color-kanagawa-paper-ronin-yellow: oklch(from #FF9E3B l c h);
  --color-kanagawa-paper-sakura-pink: oklch(from #D27E99 l c h);
  --color-kanagawa-paper-samurai-red: oklch(from #E82424 l c h);
  --color-kanagawa-paper-spring-blue: oklch(from #7FB4CA l c h);
  --color-kanagawa-paper-spring-green: oklch(from #98BB6C l c h);
  --color-kanagawa-paper-spring-violet1: oklch(from #938AA9 l c h);
  --color-kanagawa-paper-spring-violet2: oklch(from #9CABCA l c h);
  --color-kanagawa-paper-sumi-ink0: oklch(from #16161D l c h);
  --color-kanagawa-paper-sumi-ink1: oklch(from #181820 l c h);
  --color-kanagawa-paper-sumi-ink2: oklch(from #1a1a22 l c h);
  --color-kanagawa-paper-sumi-ink3: oklch(from #1F1F28 l c h);
  --color-kanagawa-paper-sumi-ink4: oklch(from #2A2A37 l c h);
  --color-kanagawa-paper-sumi-ink5: oklch(from #363646 l c h);
  --color-kanagawa-paper-sumi-ink6: oklch(from #54546D l c h);
  --color-kanagawa-paper-sumi-inkn1: oklch(from #0f0f15 l c h);
  --color-kanagawa-paper-surimi-orange: oklch(from #FFA066 l c h);
  --color-kanagawa-paper-wave-aqua1: oklch(from #6A9589 l c h);
  --color-kanagawa-paper-wave-aqua2: oklch(from #7AA89F l c h);
  --color-kanagawa-paper-wave-blue1: oklch(from #223249 l c h);
  --color-kanagawa-paper-wave-blue2: oklch(from #2D4F67 l c h);
  --color-kanagawa-paper-wave-red: oklch(from #E46876 l c h);
  --color-kanagawa-paper-winter-blue: oklch(from #252535 l c h);
  --color-kanagawa-paper-winter-green: oklch(from #2B3328 l c h);
  --color-kanagawa-paper-winter-red: oklch(from #43242B l c h);
  --color-kanagawa-paper-winter-yellow: oklch(from #49443C l c h);
}
